<p id="notice"><%= notice %></p>

<h1>Outflow Details</h1>

<table>
  <thead>
    <tr>
      <th>Outflow</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Start number</th>
      <th>End number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outflow_details.each do |outflow_detail| %>
      <tr>
        <td><%= outflow_detail.outflow %></td>
        <td><%= outflow_detail.product %></td>
        <td><%= outflow_detail.quantity %></td>
        <td><%= outflow_detail.start_number %></td>
        <td><%= outflow_detail.end_number %></td>
        <td><%= link_to 'Show', outflow_detail %></td>
        <td><%= link_to 'Edit', edit_outflow_detail_path(outflow_detail) %></td>
        <td><%= link_to 'Destroy', outflow_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outflow Detail', new_outflow_detail_path %>
