= content_for :page_title do
  Nuevo Personal Encargado
= content_for :index_page_controller do
  = link_to "Personal Encargado", personal_in_charges_path
= content_for :form_content do
  = form_for @personal_in_charge, html: { class: "form-horizontal" } do |f|
    .form-body
      = render 'form', f: f
      .form-actions
        .row
          .col-md-offset-2.col-md-10
            = yield :action_buttons
= render template: "layouts/abstracts/new"
