<%= form_with(model: historical_box, local: true) do |form| %>
  <% if historical_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historical_box.errors.count, "error") %> prohibited this historical_box from being saved:</h2>

      <ul>
      <% historical_box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ticket_box_id %>
    <%= form.text_field :ticket_box_id, id: :historical_box_ticket_box_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :historical_box_status %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.text_field :available, id: :historical_box_available %>
  </div>

  <div class="field">
    <%= form.label :not_available %>
    <%= form.text_field :not_available, id: :historical_box_not_available %>
  </div>

  <div class="field">
    <%= form.label :inflow_detail_id %>
    <%= form.number_field :inflow_detail_id, id: :historical_box_inflow_detail_id %>
  </div>

  <div class="field">
    <%= form.label :outflow_integer_id %>
    <%= form.number_field :outflow_integer_id, id: :historical_box_outflow_integer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
