<p id="notice"><%= notice %></p>

<h1>Inflow Details</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Ticket boxes</th>
      <th>Start number</th>
      <th>End number</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inflow_details.each do |inflow_detail| %>
      <tr>
        <td><%= inflow_detail.product %></td>
        <td><%= inflow_detail.ticket_boxes_id %></td>
        <td><%= inflow_detail.start_number %></td>
        <td><%= inflow_detail.end_number %></td>
        <td><%= inflow_detail.quantity %></td>
        <td><%= link_to 'Show', inflow_detail %></td>
        <td><%= link_to 'Edit', edit_inflow_detail_path(inflow_detail) %></td>
        <td><%= link_to 'Destroy', inflow_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inflow Detail', new_inflow_detail_path %>
