<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @inflow_detail.product %>
</p>

<p>
  <strong>Ticket boxes:</strong>
  <%= @inflow_detail.ticket_boxes_id %>
</p>

<p>
  <strong>Start number:</strong>
  <%= @inflow_detail.start_number %>
</p>

<p>
  <strong>End number:</strong>
  <%= @inflow_detail.end_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inflow_detail.quantity %>
</p>

<%= link_to 'Edit', edit_inflow_detail_path(@inflow_detail) %> |
<%= link_to 'Back', inflow_details_path %>
