= form_with(model: outflow, local: true) do |form|
  - if outflow.errors.any?
    #error_explanation
      %h2
        = pluralize(outflow.errors.count, "error")
        prohibited this outflow from being saved:
      %ul
        - outflow.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :outflow_date
    = form.date_select :outflow_date, id: :outflow_outflow_date
  .field
    = form.label :orden_request_id
    = form.number_field :orden_request_id, id: :outflow_orden_request_id
  .actions
    = form.submit
