.row
  .form-group
    %label.col-md-2.control-label
      Fecha de Salida :
    .col-md-4
      = @outflow.outflow_date
%br
%br

.row
  - if @outflow.outflow_details.count > 0
    .form-group
      .col-md-offset-3.col-md-6
        %table#outflow_detail.table.table-striped.table-bordered.table-hover.table-checkable.order-column
          %thead
            %tr
              %th.text-center Producto
              %th.text-center Cantidad
              %th.text-center Desde Número de Serie
              %th.text-center Hasta Número de Serie
          %tbody
            - @outflow.outflow_details.each do |outflow_detail|
              %tr
                - product = outflow_detail.product
                %td.text-center
                  = product.type_of_product.try(:name)
                  \- #{product.name}
                %td.text-center= outflow_detail.quantity
                %td.text-center= outflow_detail.start_number
                %td.text-center= outflow_detail.end_number
