<%= content_for :page_title do %>
  Detalle de Tipo de Producto
<% end %>

<%= content_for :index_page_controller do %>
	<%= link_to "Tipos de Productos", type_of_products_path%>
<% end %>

<%= content_for :form_content do %>
	<div class="form-body">
		<div class="form-actions">
    		<div class="row">
    			<div class="form-group">
				    <label class="col-md-2 control-label">
				    	Nombre tipo de Producto:
				    </label>
				    <div class="col-md-4">
				    	<%= @type_of_product.name %>
				    </div>
				</div>
				<br>
				<br>
				<div class="form-group">
					<div class="col-md-9">
	        			<%= link_to 'Editar', edit_type_of_product_path(@type_of_product), class: "btn btn-warning" %> 
						<%= link_to 'Atrás', type_of_products_path, class: "btn default" %>
	            	</div>
				</div>
	        </div>
	    </div>
	</div>
<% end %>

<%= render template: "layouts/abstracts/show" %>



