%p#notice= notice
%h1 Ticket Boxes
%table
  %thead
    %tr
      %th Nro
      %th Quantity
      %th Product
      %th{:colspan => "3"}
  %tbody
    - @ticket_boxes.each do |ticket_box|
      %tr
        %td= ticket_box.nro
        %td= ticket_box.quantity
        %td= ticket_box.product
        %td= link_to 'Show', ticket_box
        %td= link_to 'Edit', edit_ticket_box_path(ticket_box)
        %td= link_to 'Destroy', ticket_box, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Ticket Box', new_ticket_box_path
