<%= form_with(model: orden_request, local: true) do |form| %>
  <% if orden_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_request.errors.count, "error") %> prohibited this orden_request from being saved:</h2>

      <ul>
      <% orden_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_orden %>
    <%= form.date_select :date_orden, id: :orden_request_date_orden %>
  </div>

  <div class="field">
    <%= form.label :request_number %>
    <%= form.text_field :request_number, id: :orden_request_request_number %>
  </div>

  <div class="field">
    <%= form.label :in_charge %>
    <%= form.text_field :in_charge, id: :orden_request_in_charge %>
  </div>

  <div class="field">
    <%= form.label :event %>
    <%= form.text_field :event, id: :orden_request_event %>
  </div>

  <div class="field">
    <%= form.label :price_by_ticket %>
    <%= form.text_field :price_by_ticket, id: :orden_request_price_by_ticket %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id, id: :orden_request_event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
