- if orden_request.errors.any?
  #error_explanation
    %h2
      = pluralize(orden_request.errors.count, "error")
      prohibited this orden_request from being saved:
    %ul
      - orden_request.errors.full_messages.each do |message|
        %li= message
.row
  .form-group
    %label.col-md-2.control-label Código de Pedido
    .col-md-4
      - if form.object.persisted?
        %input.form-control{ readonly: true, :value => orden_request.request_number}
      - else
        %input.form-control{ readonly: true }
.row
  .form-group
    %label.col-md-2.control-label Fecha del Evento
    .col-md-4
      - if form.object.persisted?
        = form.text_field :event_date, id: :orden_request_event_date, class: 'form-control', "onkeydown"=>"return false", value: orden_request.event_date.strftime("%d/%m/%Y"), required: true
      - else
        = form.text_field :event_date, id: :orden_request_event_date, class: 'form-control', "onkeydown"=>"return false", required: true
      %span.help-block Seleccione Fecha del Evento
    %label.col-md-2.control-label Nombre del Evento
    .col-md-4
      = form.text_field :event, id: :orden_request_event, class: 'form-control', :data => { autocomplete_source: get_event_autocomplete_path }, :required => true
      %span.help-block Escriba el nombre del Evento
.row
  .form-group
    %label.col-md-2.control-label Personal Encargado
    .col-md-4
      = form.select :personal_in_charge_id, PersonalInCharge.all.map{ |p| ["#{p.full_name}", p.id] },{ prompt: "Seleccione un elemento"},{ class: "form-control",  id: :orden_request_personal_in_charge_id, required: true}
      %span.help-block Seleccione un Personal Encargado
.row
  .form-group
    %label.col-md-2.control-label Cantidad Total de Tickets
    .col-md-4
      = form.number_field :ticket_quantity, id: :orden_request_ticket_quantity, class: 'form-control'
      %span.help-block Escriba la cantidad de Tickets
    %label.col-md-2.control-label Precio por Ticket
    .col-md-4
      = form.text_field :price_by_ticket, id: :orden_request_price_by_ticket, class: 'form-control'
      %span.help-block Escriba el precio por Tickets (Si el pedido fuera por tickets)

.row
  .form-group
    %label.col-md-2.control-label Detalle de Pedido
    .col-md-10
      .row
        .panel-body
          - # = link_to_add_association 'Add Student to Training', f, :trainee_trainings, class: 'btn btn-info '
          .table-responsive
            %button#add-item-orden-request.btn.btn-info{:type => "button"} Añadir item
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th Producto
                  %th Cantidad
                  %th
              %tbody.line_items
                = form.fields_for :orden_request_details do |ff|
                  = render "orden_request_detail_fields", f: ff
                  .link
            .itemAdd
              = link_to_add_association 'Agregar nuevo item', form, :orden_request_details, :id => 'cocconAddItem', :style => 'display:none', data: {"association-insertion-node" => "tbody.line_items", "association-insertion-method" => "append"}
= content_for :action_buttons do
  = form.submit 'Guardar', class: "btn green"
  = link_to "Cancelar", orden_requests_path, class: "btn default"


= content_for :javascript do
  :javascript
    $(document).ready(function(){
      $("#orden_request_event_date")
        .datepicker({
          autoclose: true,
          language: 'es'
        })
        .on("change",function(){
          var date_input_string = $(this).val().toString();
          var new_date_for_event_name = date_input_string.replace(/\//g, '');
          $("#orden_request_event").val(new_date_for_event_name);
        })

      $('#orden_request_event')
        .autocomplete({
          source: $('#orden_request_event').data('autocomplete-source'),
          minLength: 2
        });


    })
