%p#notice= notice
%h1 Orden Requests
%table
  %thead
    %tr
      %th Date orden
      %th Request number
      %th In charge
      %th Event
      %th Price by ticket
      %th Event
      %th{:colspan => "3"}
  %tbody
    - @orden_requests.each do |orden_request|
      %tr
        %td= orden_request.date_orden
        %td= orden_request.request_number
        %td= orden_request.in_charge
        %td= orden_request.event
        %td= orden_request.price_by_ticket
        %td= orden_request.event_id
        %td= link_to 'Show', orden_request
        %td= link_to 'Edit', edit_orden_request_path(orden_request)
        %td= link_to 'Destroy', orden_request, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Orden Request', new_orden_request_path
