= content_for :page_title do
  Detalle de Orden de Pedido
= content_for :index_page_controller do
  = link_to "Ordenes de Pedido", orden_requests_path
= content_for :form_content do
  .form-body
    .form-actions
      .row
        = render partial: "show_detail"
        %br/
        %br/
        .form-group
          .col-md-9
            = link_to 'Editar', edit_orden_request_path(@orden_request), class: "btn btn-warning"
            = link_to 'Atrás', orden_requests_path, class: "btn default"
= render template: "layouts/abstracts/show"
