= content_for :page_title do
  Edición de Tipo de Evento
= content_for :index_page_controller do
  = link_to "Tipos de Eventos", type_of_events_path
= content_for :form_content do
  = form_with(model: @type_of_event, local: true, class: "form-horizontal") do |form|
    .form-body
      = render 'form', form: form, type_of_event: @type_of_event
      .form-actions
        .row
          .col-md-offset-3.col-md-9
            = link_to 'Mostrar', @type_of_event, class: "btn blue"
            = yield :action_buttons
= render template: "layouts/abstracts/edit"
