<%= form_with(model: inflow, local: true) do |form| %>
  <% if inflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inflow.errors.count, "error") %> prohibited this inflow from being saved:</h2>

      <ul>
      <% inflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inflow_date %>
    <%= form.date_select :inflow_date, id: :inflow_inflow_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
