= content_for :page_title do
  Ingresos de Productos
= content_for :new_button do
  = link_to new_inflow_path, class: "btn sbold green" do
    Nuevo Ingreso de Productos
    %i.fa.fa-plus
= content_for :thead do
  %th.all Fecha de Ingreso
  %th.all Acciones
= content_for :tbody do
  - @inflows.each do |inflow|
    %tr
      %td= inflow.inflow_date
      %td
        .btn-group.pull-right
          %button.btn.btn-xs.green.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Acciones
            %i.fa.fa-angle-down
          %ul.dropdown-menu.pull-left{:role => "menu"}
            %li
              = link_to inflow do
                %i.icon-docs
                Mostrar Ingreso de Producto
            %li
              = link_to edit_inflow_path(inflow) do
                %i.fa.fa-pencil
                Editar Ingreso de Producto
            %li.divider
            %li
              = link_to inflow, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash-o
                Eliminar Ingreso de Producto
= render template: "layouts/abstracts/index"
