= form_with(model: orden_request_detail, local: true) do |form|
  - if orden_request_detail.errors.any?
    #error_explanation
      %h2
        = pluralize(orden_request_detail.errors.count, "error")
        prohibited this orden_request_detail from being saved:
      %ul
        - orden_request_detail.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :orden_request_id
    = form.text_field :orden_request_id, id: :orden_request_detail_orden_request_id
  .field
    = form.label :product_id
    = form.text_field :product_id, id: :orden_request_detail_product_id
  .field
    = form.label :quantity
    = form.text_field :quantity, id: :orden_request_detail_quantity
  .actions
    = form.submit
