%p#notice= notice
%h1 Orden Request Details
%table
  %thead
    %tr
      %th Orden request
      %th Product
      %th Quantity
      %th{:colspan => "3"}
  %tbody
    - @orden_request_details.each do |orden_request_detail|
      %tr
        %td= orden_request_detail.orden_request
        %td= orden_request_detail.product
        %td= orden_request_detail.quantity
        %td= link_to 'Show', orden_request_detail
        %td= link_to 'Edit', edit_orden_request_detail_path(orden_request_detail)
        %td= link_to 'Destroy', orden_request_detail, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Orden Request Detail', new_orden_request_detail_path
