<p id="notice"><%= notice %></p>

<p>
  <strong>Orden request:</strong>
  <%= @orden_request_detail.orden_request %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orden_request_detail.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orden_request_detail.quantity %>
</p>

<%= link_to 'Edit', edit_orden_request_detail_path(@orden_request_detail) %> |
<%= link_to 'Back', orden_request_details_path %>
