<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <label class="col-md-3 control-label">Nombre de Producto</label>
  <div class="col-md-9">
      <%= form.text_field :name, id: :product_name, class: "form-control", placeholder: "Ingresa un texto" %>
      <span class="help-block"> Escriba el nombre del nuevo Producto </span>
  </div>
</div>

<div class="form-group">
  <label class="col-md-3 control-label">Tipo de Producto</label>
  <div class="col-md-9">
      <%= form.select :type_of_product_id, TypeOfProduct.all.map{ |t| [t.name, t.id] } ,{prompt: "Seleccione"}, {class: "form-control", required: true, id: :type_of_product_id} %>
      <span class="help-block"> Seleccione el Tipo de Producto </span>
  </div>
</div>

<%= content_for :action_buttons do %>
  <%= form.submit 'Guardar', class: "btn green" %>
  <%= link_to "Cancelar", products_path, class: "btn default" %>
<% end %>    
