<%= content_for :page_title do %>
  Productos
<% end %>

<%= content_for :new_button do %>
  <%= link_to new_product_path, class: "btn sbold green" do %>
    Nuevo Producto
    <i class="fa fa-plus"></i>
  <% end %>
<% end %>

<%= content_for :thead do %>
  <th>Tipo de Producto</th>
  <th>Nombre</th>
  <th>Acciones</th>
<% end %>

<%= content_for :tbody do %>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.type_of_product.try(:name) %></td>
        <td><%= product.name %></td>
        <td>
          <div class="btn-group">
              <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Acciones
                  <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-left" role="menu">
                  <li>
                    <%= link_to product do %>
                      <i class="icon-docs"></i> Mostrar Producto 
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_product_path(product) do %>
                      <i class="fa fa-pencil"></i> Editar Producto 
                    <% end %>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-trash-o"></i> Eliminar Producto
                    <% end %>
                  </li>
              </ul>
          </div>
        </td>
      </tr>
    <% end %>
<% end %>

<%= render template: "layouts/abstracts/index" %>