= content_for :page_title do
  Nuevo Producto
= content_for :index_page_controller do
  = link_to "Productos", products_path
= content_for :form_content do
  = form_with(model: @product, local: true, class: "form-horizontal") do |form|
    .form-body
      = render 'form', form: form, product: @product
      .form-actions
        .row
          .col-md-offset-3.col-md-9
            = yield :action_buttons
= render template: "layouts/abstracts/new"
