<%= content_for :page_title do %>
  Detalle Producto
<% end %>

<%= content_for :index_page_controller do %>
	<%= link_to "Productos", products_path%>
<% end %>

<%= content_for :form_content do %>
	<div class="form-body">
		<div class="form-actions">
    		<div class="row">

    			<div class="form-group">
				    <label class="col-md-2 control-label">
				    	Tipo de Producto:
				    </label>
				    <div class="col-md-4">
				    	<%= @product.type_of_product.try(:name) %>
				    </div>
				</div>

				<div class="form-group">
				    <label class="col-md-2 control-label">
				    	Nombre de Producto:
				    </label>
				    <div class="col-md-4">
				    	<%= @product.name %>
				    </div>
				</div>


				<br>
				<br>
				<div class="form-group">
					<div class="col-md-9">
	        			<%= link_to 'Editar', edit_product_path(@product), class: "btn btn-warning" %> 
						<%= link_to 'Atrás', products_path, class: "btn default" %>
	            	</div>
				</div>
	        </div>
	    </div>
	</div>
<% end %>

<%= render template: "layouts/abstracts/show" %>