<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-fw dropdown-fw-disabled <%= parent_menu_active(params[:controller], 'dashboard') %> ">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-home"></i> Dashboard </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="<%= active_menu(params[:controller], 'home') %>">
                    <%= link_to root_path do %>
                        <i class="icon-bar-chart"></i> General 
                    <% end %>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw dropdown-fw-disabled <%= parent_menu_active(params[:controller], 'product') %> ">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Productos </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="dropdown more-dropdown-sub">

                    <li class="<%= active_menu(params[:controller], 'products') %>">
                        <%= link_to products_path do %>
                            <i class="icon-bar-chart"></i> Lista de Productos
                        <% end %>
                    </li>
                    <li class="<%= active_menu(params[:controller], 'type_of_products') %>">
                        <%= link_to type_of_products_path do %>
                            <i class="icon-bar-chart"></i> Tipos Productos
                        <% end %>
                    </li>
                    <li class="<%= active_menu(params[:controller], 'inflows') %>">
                        <%= link_to inflows_path do %>
                            <i class="icon-bar-chart"></i> Ingreso de Tickets
                        <% end %>
                    </li>
                    <li class="dropdown more-dropdown-sub <%= active_menu(params[:controller], 'warehouse') %>">
                        <a href="javascript:;">
                            <i class="icon-bar-chart"></i>  Almacen  
                        </a>
                        <ul class="dropdown-menu">
                            <li class="<%= active_sub_menu(params[:controller],params[:action], 'warehouse', 'index') %>">
                                <%= link_to "Vista de Productos por Cajas", warehouse_index_path %>
                            </li>
                            <li class="<%= active_sub_menu(params[:controller],params[:action], 'warehouse', 'index_all_tickets') %>">
                                <%= link_to "Vista de Productos en General", warehouse_index_all_tickets_path %>
                            </li>
                        </ul>
                    </li>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-fw dropdown-fw-disabled <%= parent_menu_active(params[:controller], 'request') %> ">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Pedidos </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="dropdown more-dropdown-sub">

                    <li class="<%= active_menu(params[:controller], 'orden_requests') %>">
                        <%= link_to orden_requests_path do %>
                            <i class="icon-bar-chart"></i> Orden de Pedido
                        <% end %>
                    </li>
                    <li class="<%= active_menu(params[:controller], 'type_of_products') %>">
                        <%= link_to type_of_products_path do %>
                            <i class="icon-bar-chart"></i> Pendientes
                        <% end %>
                    </li>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-fw dropdown-fw-disabled <%= parent_menu_active(params[:controller], 'event') %> ">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Eventos </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="dropdown more-dropdown-sub">

                    <li class="<%= active_menu(params[:controller], 'events') %>">
                        <%= link_to events_path do %>
                            <i class="icon-bar-chart"></i> Lista de Eventos
                        <% end %>
                    </li>
                    <li class="<%= active_menu(params[:controller], 'type_of_events') %>">
                        <%= link_to type_of_events_path do %>
                            <i class="icon-bar-chart"></i> Tipos de Eventos
                        <% end %>
                    </li>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-fw dropdown-fw-disabled <%= parent_menu_active(params[:controller], 'personal') %> ">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Personal </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="dropdown more-dropdown-sub">

                    <li class="<%= active_menu(params[:controller], 'personal_in_charges') %>">
                        <%= link_to personal_in_charges_path do %>
                            <i class="icon-bar-chart"></i> Personal a Cargo
                        <% end %>
                    </li>
                </li>
            </ul>
        </li>

    </ul>
</div>